.offer
    background:  url('../../img/707_kuhna_48bea9_7432.png') no-repeat
    background-position: center right
    background-size: contain
    position: relative
    padding-top: 77px
    padding-bottom: 90px
    &:before
        content: ''
        width: 50%
        height: 100%
        position: absolute
        top: 0
        left: 0
        background-color: white
    &-block
        position: relative
        width: 50%
        padding-right: 90px
        &__title
            font-family: Museo Sans Bold
            line-height: 35px
            width: 365px
            font-size: 23px
            margin-bottom: 15px
            margin-top: 0
        &__subtitle
            font-size: 19px;
            display: block
            width: 300px
            margin-bottom: 27px
    &__input
        margin-bottom: 27px
        font-family: Museo Sans Light
        font-size: 14px
        &:first-child
            margin-right: 10px
    &__button
        padding: 27px 101px
        width: 100%

    &__form
        width: 100%
.form-down
    display: flex
    justify-content: space-between
    margin-top: 24px
.down-text
    font-size: 15px
    line-height: 24px
    width: 60%
.down-phone
    display: flex
    flex-direction: column
    width: 60%
    &__info
        display: block
        font-size: 15px
        line-height: 24px
        text-align: right
    &__number
        font-size: 16px;
        font-family: Museo Sans Bold
        line-height: 24px;
        text-decoration: none
        color: $text-color
        text-align: center

@media (max-width: 1200px)
    .offer
        background-size: cover
        &-block
            width: 100%
            padding-right: 0
        &__input
            width: 100%
            margin-bottom: 10px
        &__button
            font-size: 12px
@media (max-width: 768px)
    .offer
        background: #fff
        &-block
            width: 100%
            padding-right: 0